#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
}

.label {
  font-size: medium;
  font-weight: bold;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error {
  color: red;
  font-size: small;
}
